@page

@model Exercise_1.Pages.Manager.JoblistingModel
@{
    Layout = "_SidebarLayout";
}
<table class="m-5 table table-bordered">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Requirements</th>
            <th scope="col">Location</th>
            <th scope="col">Type</th>
            <th scope="col">Salary</th>
            <th scope="col">Apply</th>
        </tr>
    </thead>


    <tbody>
        
            @foreach (var job in Model.jobs)
            {
            <tr>
                <td scope="row">@job.id</td>
                    <td>@job.Title</td>
                    <td>@job.Reqirements</td>
                    <td>@job.Location</td>
                    <td>@job.Type</td>
                    <td>@job.Salary</td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="jobId" value="@job.id" />
                        <button type="submit" class="btn btn-success">Apply Job</button>
                        </form>
                    </td>
                </tr>
            }
        

    </tbody>
</table>