@using HireMeNow_BlazorApp.Interfaces
@using HireMeNow_BlazorApp.Models
@inject IApplicationService applicatioService
@inject NavigationManager NavigationManager
@inject IUserService userService
<style>

	.proImg {
		background-color: #ffffffcf;
		height: 125px;
		width: 125px;
		border-radius: 50%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position: relative;
		top: 61px;
	}

	.right {
		box-shadow: -4px -2px 4px 1px #0000001c;
	}

	.header {
		height: 151px;
		/* width: 763px; */
		background-image: linear-gradient(to bottom right, #20a6fc, #94f1e6ab);
		/* background-position: center; */
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: column;
		background-repeat: round;
	}

	.job-specs {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		align-items: center;
	}

	.spec {
		width: 50%;
	}

	.nav {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		justify-content: space-between;
	}

	.nav-link {
		display: block;
		padding: 5px;
	}

	.jobs-list {
		max-height: 700px;
		overflow: scroll;
	}

		.jobs-list::-webkit-scrollbar {
			width: 0.5em;
		}

		.jobs-list::-webkit-scrollbar-track {
			background-color: #f1f1f1;
		}

		.jobs-list::-webkit-scrollbar-thumb {
			background-color: #888;
		}

	.job-item:hover {
		box-shadow: 0px 2px 4px 0px #606060c2;
	}

	.tab-content {
		height: 200px;
		overflow: scroll;
	}

	.desc {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: space-between;
		justify-content: space-evenly;
		align-items: center;
	}

	/*for confirmation box */
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		display: block;
		justify-content: center;
		align-items: center;
	}

	.confirmation-box {
		padding: 20px;
		border-radius: 5px;
		text-align: center;
		background-image: linear-gradient(to bottom right, #149bf1b8, #94f1e6d1);
		font-family: serif;
	}

		.confirmation-box h2 {
			margin-bottom: 10px;
		}

		.confirmation-box .buttons {
			margin-top: 20px;
		}

			.confirmation-box .buttons button {
				margin: 0 10px;
			}

</style>

		

			<div class="col-md-12 p-2 mt-4 job-item">

	@if (!string.IsNullOrEmpty(Convert.ToString(job.Company?.Logo)))
	{
		<img class="img-fluid float-left mr-2" src="@job.Company.Logo" height="50px" width="50px">
	}
	else
	{
		<img class="img-fluid float-left mr-2" src="/jobseekerassets/images/Company.png" height="50px" width="50px">
	}
					@*<img class="img-fluid float-left mr-2" src="jobseekerassets/images/Company.png" height="50px" width="50px">*@
	<img class="img-fluid float-right" src="jobseekerassets/images/archive-minus.png" @onClick="SelectJob">
	<h5 class="text-dark"><a href="javascript:void(0);" @onclick="() => SelectJob(job)">@job.Title</a></h5>  
	<button class="btn btn-lg bg-primary float-right mx-autocol-md-4 ml-2 mr-2 pl-2 pr-2 " @onclick="() => SelectJob(job)">View</button>
				<a href="#">@job.VacanciesCount</a> .Location : @job.Location<br><br>
	<p>@job.Description</p>
				<div class="row">
					<div class="bg-secondary text-white rounded-pill col-md-3 ml-2 mr-2 pl-2 pr-2">@job.TypeOfWorkPlace</div>
		<div class="bg-secondary text-white rounded-pill col-md-4 ml-2 mr-2 pl-2 pr-2">$@job.Salary</div>
		<div class="bg-secondary text-white rounded-pill col-md-4 ml-2 mr-2 pl-2 pr-2">@job.Location</div>


				</div>
			</div>

		
	

@code {
	[Parameter]
	public string id { get; set; }
	[Parameter]
	public Job job { get; set; }
	[Parameter]
	public EventCallback<Job> OnJobSelected { get; set; }

	private async Task SelectJob(Job job)
	{
		await OnJobSelected.InvokeAsync(job);
	}
	public void ApplyJob()
	{
		var loggedUser = userService.getLoggedUser();

		//var userId = new Guid("3fa85f64-5717-4562-b3fc-2c963f66afa6");
		applicatioService.AddApplication(loggedUser.Id,job.Id);
		NavigationManager.NavigateTo("/Jobseeker/MyApplication");
	}
}
