@model IEnumerable<Mvc_HireMeNow.Models.Job>

@{
    ViewData["Title"] = "JobList";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<h1>JobList</h1>


<div class="row mainDiv">
    <div class="containerdiv col-md-10">
        @foreach (var job in Model)
        {

            <div class="col-md-3 detailsDiv p-3 m-3">
                <img src="" /><br>
                <b> @job.Company </b><br>
                <b> @job.Title </b><br>
               Salary : <b> @job.Salary </b><br>
                Experience : <b> @job.Experience </b><br>
                <b> @job.Description </b><br>
                Location : <b> @job.Location </b><br>
                Job Type : <b> @job.TypeOfWorkPlace </b><br>
           

                <input type="button" value="View" class="btn btn-primary">

            </div>
        }
    </div>

</div>


